<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>Question-Board</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" href="css/themes/default/default.css" />
		<script charset="utf-8" src="js/kindeditor-min.js"></script>
		<script charset="utf-8" src="js/lang/zh_CN.js"></script>
		<script>
			var editor;
			KindEditor.ready(function(K) {
				editor = K.create('textarea[name="qbkAnswer"]', {
					allowFileManager : true,
					resizeType : 1,
					width:"100%",
					height:"350px"

				});
			});
		</script>
		<style type="text/css">
			/*选择大按钮*/
			.btn-group-lg>.btn, .btn-lg {
			    padding: 10px 16px;
			    font-size: 18px;
			    line-height: 2.333333;
			    width: 58%;
			    border-radius: 7px;
			}
			/*主要内容表格*/
			.main-table {
				margin-left:2%;
				margin-left:2%;
				width: 95%;
			}
		</style>
	</head>
	<body>
		<!--
        	时间：2017-03-13
        	描述：标题栏
        -->
		<div class="site-header" id="header">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
				        </button>
						<a class="navbar-brand header-brand" href="/">
							<img src="img/19pay_01.png"/>							
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li>
								<a href="/"><b>问题自主记录工具</b><span class="sr-only">(current)</span></a>
							</li>
							<li class="banner-divider"></li>
							<li>
								<a href="#"><span class="sr-only">(current)</span></a>
							</li>
							<li class="banner-divider"></li>
							<li>
								<a href="#"><font color="red">搜索类别关键词:0--第三方|1--高阳esales|2--19esales|3--其他</font></a>
							</li>
						</ul>


						<ul class="nav navbar-nav navbar-right">
							<li>
								<form class="navbar-form navbar-left" role="search" action="search">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="输入查询关键词"
											required="required" name="keyword" />
									</div>
									<button type="submit" class="btn btn-primary">搜索</button>
								</form>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
		</div>
		
		<br/><br/><br/><br/><br/>
		
		<div class="col-md-12 col-lg-12 col-xs-12 main-table">
			<div class="table-responsive">
				<form action="question_doupdate.action" method="post">
			  	<table class="table table-bordered">
			  		<tr>
			  			<td class="alert-info">
			  				<div><center>问题标题</center></div>
			  			</td>
			  			<td class="alert-info">
			  				<div><input type="text" class="form-control" id="qbkTitle" name="qbkTitle" placeholder="问题标题" th:value="${questionDetail.qbkTitle}"/></div>
			  			</td>
			  		</tr>
			  		
			  		<tr>
			  			<td>
			  				<div><center>问题答案</center></div>
			  			</td>
			  			<td>
			  				<textarea class="form-control" rows="10" name="qbkAnswer" th:text="${questionDetail.qbkAnswer}"></textarea>
			  			</td>
			  		</tr>
			  		
			  		<tr>
			  			<td class="alert-info">
			  				<div><center>关键词</center></div>
			  			</td>
			  			<td class="alert-info">
			  				<div><input type="text" class="form-control" id="qbkKey" name="qbkKey" placeholder="关键词" th:value="${questionDetail.qbkKey}"/></div>
			  			</td>
			  		</tr>
			  		<tr>
			  			<td>
			  				<div><center>所属类别</center></div>
			  			</td>
			  			<td>
			  				<div>
			  					<select class="form-control" name="qbkType">
									  <option value="0">第三方平台</option>
									  <option value="1">高阳esales</option>
									  <option value="2">19e-esales</option>
									  <option value="3">其他</option>
								</select>
			  				</div>
			  			</td>
			  		</tr>
			  		<tr>
			  			<td colspan="2" class="alert-info">
			  				<center>
			  					<input type="submit" class="btn btn-primary" value="提交" />
								<input type="reset" class="btn btn-warning" value="重置" />
							</center>
			  			</td>
			  		</tr>
			  		<input type="hidden" class="form-control" name="qbkId" th:value="${questionDetail.qbkId}"/>
			  	</table>
			  	</form>
			</div>
			<br/><br/><br/><br/>
		</div>
		
		
		
		
		<!--
        	时间：2017-03-13
        	描述：返回头部
        -->
		<div class="w-top">
			<a href="#header"><i class="w-top-glyphicon glyphicon glyphicon-chevron-up"></i></a>
		</div>
		<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
			<footer>
				<h4 class="footer-words">
					<center>高阳捷迅©版权所有  2017</center>
				</h4>
			</footer>
		</nav>
		<script src="js/jquery-1.12.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/eggs.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
